<section class="bg-primary" id="acerca">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading text-white">Mas Información sobre {{ Evento.nombre }}</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">{{ Evento.descripcion }}</p>

                <div class="row">
                    <div class="col-lg-6 mx-auto text-center">
                        <i class="fa fa-4x fa-calendar text-white mb-3 sr-icons"></i>
                        <h4 class="section-heading text-white">¿CUANDO?</h4>
                        <h4 class="text-faded">
                        {% if dias %}
                            {% if dias.first.fecha ==  dias.last.fecha %}
                                {{ dias.first.fecha | date:"d" }} |
                            {% else %}
                                {{ dias.first.fecha | date:"d" }} -
                                {{ dias.last.fecha | date:"d" }}  |
                            {% endif %}
                            
                            {{ dias.last.fecha | date:"F" }}  |
                            {{ dias.last.fecha | date:"o" }}
                        {% else %}
                            No definido

                        {% endif %}

                        </h4>
                    </div>
                    <div class="col-lg-6 mx-auto text-center">
                      <i class="fa fa-4x fa-map-marker text-white mb-3 sr-icons"></i>
                      <h4 class="section-heading text-white">¿DONDE?</h4>
                      <h4 class="text-faded">{{ Evento.lugar }}</h4>
                      <h4 class="text-faded mb-4">{{ Evento.ciudad }}</h4>
                    </div>
                </div>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="{% url 'registrar' %}">¡Registrate ya! </a>
            </div>
        </div>
    </div>
</section>
