{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
  <head>
  {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ Evento.nombre }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'eventos/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'eventos/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'eventos/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'eventos/css/creative.min.css' %}" rel="stylesheet">

    <link href="{% static 'eventos/css/eventos.css' %}" rel="stylesheet">

    <link href="{% static 'eventos/css/cronograma.css' %}" rel="stylesheet">



    <link rel="icon" href="{% static 'eventos/favicon.ico' %}" type="image/x-icon">
  {% endblock head %}

  </head>

  <body id="page-top">

{% block menu %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ Evento.nombre }}</a>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'inicio' %}"> INICIO</a>
            </li>
          </ul>
      </div>
    </nav>

{% endblock menu %}

{% block content %}

{% endblock %}

{% block footer %}

    <!-- footer -->
    <section class="footer text-white">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 ml-auto text-center">
              <p class="text-faded"> Realizado con </p>
              <img class="footer" src="{% static 'eventos/img/path3025-3-6-0.png' %}" alt="EventPy">

              <p class="text-faded">
               <a class="text-faded" href="mailto:your-email@your-domain.com">{{ Evento.correo }}</a> | <a class="text-faded" href="">Código de Conducta</a>
              </p>
            </div>
        </div>
      </div>
    </section>

{% endblock footer %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'eventos/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'eventos/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'eventos/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'eventos/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'eventos/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'eventos/js/creative.min.js' %}"></script>

  </body>

</html>
