<section class="bg-primary" id="charlas">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Charlas</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4"> Conoce todo el detalle de las charlas que se presentan durante el evento</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="{% url 'cronograma' %}">Cronograma</a>
      </div>
    </div>
  </div>
</section>
