{% load tz %}

              <div class="row ">
                    <div class="col-sm-10 mx-auto">
                        <div class="tab-content">
                              {% for dia in Dias %}
                                  <ul class="cbp_tmtimeline">
                                  {% for actividad in Actividades %}
                                    {% if actividad.dia == dia %}
                                        <li>
                                              <time class="cbp_tmtime">
                                                <span></span> <span>{{ actividad.fecha | localtime | date:"H:i" }}Hs</span>
                                              </time>
                                              <div class="cbp_tmicon"></div>

                                                <div class="list-group cronograma-list">
                                                    <a href="{% url 'ficha_disertante' actividad.disertante.id %}" class="list-group-item cronograma-titulo">
                                                      
                                                      {{ actividad.titulo }} | {{ actividad.disertante }}

                                                    </a>
                                                    <p class="list-group-item list-group-item-action item-cronogrma detalles">
                                                      Tipo: {{ actividad.tipo }} <br>
                                                      Nivel: {{ actividad.nivel}}

                                                    </p>
                                                </div>
                                          </li>

                                    {% endif %}
                                  {% endfor %}
                                  </ul>

                                </div>
                              {% endfor %}
                        </div>
                  </div>

