{% extends 'eventos/base.html' %}
{% load tz %}



{% block content %}

  <section id="section">
      <div class="container">
        {% if Evento.publicar_cronograma %}
            <div class="row">
                <div class="col-sm-12 mx-auto text-center">
                  <h3 id="color-primario" class="section-heading">Cronograma</h3>
                  <hr class="my-4">
                </div>
            </div>

            <div class="row ">
                <div class="mx-auto">
                    <ul class="nav nav-pills ">
                        {% for dia in Dias %}
                            <li><a class="btn btn-primary btn-xl " data-toggle="pill" href="#{{ dia.dia }}"> Día {{ dia.dia }} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

              <div class="row ">
                    <div class="col-sm-10 mx-auto">
                        <div class="tab-content">

                              {% for dia in Dias %}

                                <div id="{{ dia.dia }}" class="tab-pane fade">
                                  <div class="row">
                                    <div class="col-sm-2 mx-auto">

                                    </div>
                                    <div class="col-sm-10 mx-auto">
                                        <h3 id="titulo-cronograma" class="section-heading">
                                        <i class="fa fa-1x fa-calendar mb-2 color-primario "></i>
                                         Día {{ dia.dia }} </h3>
                                        <h4 id="subtitulo-cronograma" class="section-heading"> {{ dia.fecha }} </h4>
                                    </div>

                                  </div>    
                                

                                  <ul class="cbp_tmtimeline">
                                  {% for actividad in Actividades %}
                                    {% if actividad.dia == dia %}
                                        <li>
                                              <time class="cbp_tmtime">
                                                <span></span> <span>{{ actividad.fecha | localtime | date:"H:i" }}Hs</span>
                                              </time>
                                              <div class="cbp_tmicon"></div>

                                                <div class="list-group cronograma-list">
                                                    <a href="{% url 'ficha_disertante' actividad.disertante.id %}" class="list-group-item cronograma-titulo">
                                                      
                                                      {{ actividad.titulo }} | {{ actividad.disertante }}

                                                    </a>
                                                    <p class="list-group-item list-group-item-action item-cronogrma detalles">
                                                      Tipo: {{ actividad.tipo }} <br>
                                                      Nivel: {{ actividad.nivel}}

                                                    </p>
                                                </div>
                                          </li>

                                    {% endif %}
                                  {% endfor %}
                                  </ul>

                                </div>
                              {% endfor %}
                        </div>
                  </div>

                  <div class="col-sm-2 mx-auto">
                  </div>
              </div>

        {% else %}
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h3 id="color-primario" class="section-heading">Cronograma</h3>
              <hr class="my-4">
              <p class="mb-5">El cronograma de Actividades aun no esta definido </p>
            </div>
          </div>
        {% endif %}
      </div>
  </section>


{% endblock content %}
