{% load static %}
    <section class="p-0" id="disertantes">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading margen">Disertantes</h2>
          <hr class="my-4">
        </div>

        <!-- Listado de Disertantes -->
        <div class="container-fluid p-0">
          <div class="row no-gutters popup-gallery">
            {% if disertantes %}
              {% for disertante in disertantes %}
                <div class="col-lg-2 col-sm-2">
                  <a class="portfolio-box disertante-box" href="usuarios/disertantes/{{ disertante.id }}">
                    <img class="img-fluid disertante-imagen" src="{{ MEDIA_URL }}{{disertante.foto_perfil}}" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-name">
                          {{ disertante.alias }}
                        </div>
                        <div class="disertante-bio text-faded">
                          {{ disertante.bio | truncatechars:50 }}
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            {% else %}
              {% for i in "123456" %}
                <div class="col-lg-2 col-sm-2">
                  <a class="portfolio-box" href="">
                    <img class="img-fluid" src="{% static 'eventos/img/disertante.png' %}" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Proximamente
                        </div>
                        <div class="project-name">
                          ...........
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
    </section>
