{% load static %}
    <!-- footer -->
    <section class="footer text-white">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 ml-auto text-center">
              <p class="text-faded"> Realizado con </p>
              <img class="footer" src="{% static 'eventos/img/path3025-3-6-0.png' %}" alt="EventPy">

              <p class="text-faded">
               <a class="text-faded" href="mailto:your-email@your-domain.com">{{ Evento.correo }}</a> | <a class="text-faded" href="">Código de Conducta</a>
              </p>
            </div>
        </div>
      </div>
    </section>
