<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>{{ Evento.nombre }}</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">{{ Evento.sub_titulo }}</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#acerca">Mas Información...</a>
            </div>
        </div>
    </div>
</header>
