{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ Evento.nombre }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'eventos/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'eventos/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'eventos/css/creative.min.css' %}" rel="stylesheet">

    <link href="{% static 'eventos/css/eventos.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'eventos/favicon.ico' %}" type="image/x-icon">

  </head>

  <body id="page-top">

    {% include "./mainNav.html" %}
    {% include "./header.html" %}
    {% include "./acerca.html" %}
    {% include "./mapa.html" %}
    
    {% if Evento.mostrar_disertantes_index %}
        {% include "./disertantes.html" %}
    {% endif %}
    
    {% if Evento.mostrar_charlas_index %}
        {% include "./charlas.html" %}
    {% endif %}
    
    {% if Evento.mostrar_sponsors_index %}
        {% include "./sponsors.html" %}
    {% endif %}

    {% if Evento.mostrar_organizadores_index %}
        {% include "./organizadores.html" %}
    {% endif %}
    
    {% include "./footer.html" %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'eventos/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'eventos/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'eventos/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'eventos/vendor/scrollreveal/scrollreveal.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'eventos/js/creative.min.js' %}"></script>

  </body>

</html>
