<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ Evento.nombre }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#acerca">Acerca</a>
            </li>
            {% if Evento.mostrar_disertantes_index %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#disertantes">Disertantes</a>
            </li>
            {% endif %}
            {% if Evento.mostrar_charlas_index %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#charlas">Charlas</a>
            </li>
             {% endif %}
             {% if Evento.mostrar_sponsors_index %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sponsor">Sponsors</a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href=""> | </a>
            </li>

            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'panel' %}">Panel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'salir' %}"> Salir</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'ingresar' %}">Ingresar</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
