{% load static %}
<section class="p-0" id="organizadores">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading margen">Organizadores</h2>
        <hr class="my-4">
    </div>

    <!-- Listado de Organizadores -->
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            {% if organizadores %}
                {% for organizador in organizadores %}
                    <div class="col-lg-2 col-sm-2">
                        <a class="portfolio-box" href="#organizadores">
                            <img class="img-fluid organizador-imagen" src="{{ MEDIA_URL }}{{organizador.foto_perfil}}" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-name">
                                        {{ organizador.alias }}
                                    </div>
                                    <div class="organizador-cargo text-faded">
                                        {{ organizador.cargo }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                {% for i in "123456" %}
                    <div class="col-lg-2 col-sm-2">
                        <a class="portfolio-box" href="#organizadores">
                            <img class="img-fluid" src="{% static 'eventos/img/disertante.png' %}" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Proximamente
                                    </div>
                                    <div class="project-name">
                                        ...........
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
