{% extends 'eventos/base.html' %}
{% load tz %}


{% block content %}

{% if user.is_authenticated %}

  <section id="section">
      <div class="container">
          <div class="row">
            <div class="col-sm-8 mx-auto text-center">

              <h3 id="color-primario" class="section-heading">¡ Hola {{ user.username }} !</h3>
              <hr class="my-4">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 mx-auto">
              <h2>DATOS </h2>
              <p> Nombre de Usuario: {{ user.username }}</p>
              <p> Nombre: {{ user.first_name }}</p>
              <p> Apellido: {{ user.last_name }}</p>
              <p> Email: {{ user.email }}</p>
            </div>

            <!--Botonera de opciones del perfil -->
            <div class="col-sm-4 mx-auto">
              {% if Evento.llamado_charlas %}  
              <div class="panel-btn">
                 <a class="btn btn-primary btn-xl js-scroll-trigger btn-panel" href="{% url 'propuesta_actividad' %}"> Proponer Charla </a>
              </div>
              {% endif %} 

               {% if not user.organizador %}
              <div class="panel-btn">
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'organizador' %}"> Quiero ser Organizador</a>
              </div>
              {% endif %}

               <div class="panel-btn">
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'cronograma' %}"> Ver Cronograma</a>
              </div>

              <!-- Solo para Administradores/organizadores -->

               {% if user.is_superuser %}
                <div class="panel-btn">
                  <a class="btn btn-primary btn-xl js-scroll-trigger" href="/admin/"> Panel de Administración</a>
                </div>
              {% endif %}

                <div class="panel-btn">
                  <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'salir' %}"> Cerrar Sesión</a>
                </div>
            </div>



          </div>

          {% if es_disertante  %}

            <div class="row">
              <div class="col-sm-12 mx-auto">

                  <h2>Actividades Propuestas</h2>
                  <p>A continuación se presentan las actividades propuestas y su correspondiente estado.</p>
                  <p> Los estados puede ser Pendiente de revisión, Aceptada o Rechazada.</p>
                  <p>En caso de ser Aceptada, un organizador se comunicara para coordinar los detalles necesarios.</p>
                    <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Titulo Charla</th>
                                <th>Tipo</th>
                                <th>Dia</th>
                                <th>Hora</th>
                                <th>Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for actividad in actividades%}

                              {% if actividad.estado == 'Rechazada'%}
                                <tr class="table-danger">
                              {% elif actividad.estado == 'Aceptada' %}
                                <tr class="table-success">
                              {% else %}
                                <tr class="">
                              {% endif %}
                                  <td>{{ actividad.titulo }}</td>
                                  <td>{{ actividad.tipo }}</td>

                                  {% if actividad.dia is None %}
                                    <td> No Asignado </td>
                                  {% else %}
                                    <td> {{ actividad.dia }} </td>
                                  {% endif %}
                                  
                                  {% if actividad.fecha is None %}
                                    <td> No Asignada </td>
                                  {% else %}
                                    <td> {{ actividad.fecha | localtime | date:"H" }} </td>
                                  {% endif %}

                                  
                                  <td>{{ actividad.estado }}</td>
                                </tr>
                              {% endfor %}
               
                            </tbody>
                          </table>
                    </div>
              </div>
            </div>
          {% endif %}
        </div>
  </section>


<!-- PARA USUARIOS NO LOGUEADOS -->
{% else %}
  <section id="section">
      <div class="container">
          <div class="row">
            <div class="col-sm-8 mx-auto text-center">
              <h3 id="color-primario" class="section-heading">No hay sessión activa</h3>
              <hr class="my-4">
              <p class="mb-5">Debe iniciar sesión para visualizar el panel de usuario</p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'ingresar' %}"> Ingresar </a>
            </div>
          </div>
        </div>
  </section>

{% endif %}

{% endblock content %}
