{% extends 'eventos/base.html' %}


{% block content %}

  <section id="section">
      <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h3 id="color-primario" class="section-heading">Simple pagina</h3>
              <hr class="my-4">

              <p class="mb-5">pagina simple para mostrar cosas</p>
            </div>
          </div>  
        </div>
  </section>

{% endblock content %}
