{% load static %}
   <section id="sponsor">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Nuestros Sponsors</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% if sponsors %}
            {% for sponsor in sponsors %}
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <a href="{{ sponsor.url }}" target="__blank">
                    <img class="img-fluid" src="{{ MEDIA_URL }}{{ sponsor.logo }}" alt="">
                  </a>
                  {% if sponsor.mostrar_nombre %}
                  <h3 class="mb-3">{{ sponsor.nombre }}</h3>
                  {% endif%}

                  {% if sponsor.mostrar_descripcion %}  
                  <p class="text-muted mb-0">{{ sponsor.descripcion }}</p>
                  {% endif%}

                </div>
              </div>
            {% endfor %}
          {% else %}
            {% for i in '1234' %}
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <img class="img-fluid" src="{% static 'sponsors/img/logos/logo.png' %}" alt="">

                  <h4 class="mb-4">nombre Sponsor</h4>
                  <p class="text-muted mb-0">Una breve descripción del sponsor</p>
                </div>
              </div>
            {% endfor %}
          {% endif%}
          </div>
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <hr class="my-4">
              <h3 id="color-primario" class="section-heading">¿Queres ser Sponsor?</h3>
              <p class="mb-5">Coomunicate con nostros enviando un correo a <a href="mailto:your-email@your-domain.com">{{ Evento.correo }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
