{% extends 'eventos/base.html' %}


{% block content %}

  <section id="section">
      <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h3 id="color-primario" class="section-heading">Proponer Actividad</h3>
              <hr class="my-4">
              <p> Completa los siguientes datos para proponer una charla </p>
            </div>
          </div>


          <div class="row">
            <div class="col-4 text-center">
            </div>

            <div class="col-4">
              <form method="post">
                {% csrf_token %}
                    {% for field in form %}
                      <p >
                         {{ field.label_tag }} <br>
                        {{ field }}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </p>
                    {% endfor %}
                <p>Si la charla considera que no tiene cupo maximo de asistentes, deje vacio ese campo.</p>
                <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger"> Enviar Propuesta </button>

              </form>
            </div>

            <div class="col-4 text-center">
            </div>

          </div>


        </div>
  </section>

{% endblock content %}
