

.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #EF5F40;
    left: 20%;
    margin-left: -3px;
}

.cbp_tmtimeline > li {
    position: relative;
}

/* Fecha de linea */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 18px;
    color: #EF5F40;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 16px;
    color: #333;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #333;
}




/* icono */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 18px;
    height: 18px;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 14px;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #EF5F40;
    border-radius: 50%;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -10px;
}

.cbp_tmicon-phone:before {
    content: "\e000";
}

.cbp_tmicon-screen:before {
    content: "\e001";
}

.cbp_tmicon-mail:before {
    content: "\e002";
}

.cbp_tmicon-earth:before {
    content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 16px;
    }
}

@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #EF5F40;
        top: -20px;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #EF5F40;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }   
}


div.cronograma-list{
    margin: 0 0 10px 20%;
    padding: 1px 0px 10px 20px ;
    position: relative;
}


a.cronograma-titulo {
  z-index: 0;
  color: #fff;
  background-color: #EF5F40;
  border-color: #EF5F40;
  padding: 5px 0px 5px 10px;

}


a.item-cronogrma{
    padding: 5px 0px 5px 10px;

}

.list-group-item:first-child{
    border-radius: 0px;
}

.list-group-item:last-child{
    border-radius: 0px;

}

p.detalles{
   font-size: 12px;  
}

p.list-group-item{
    padding: 5px 0px 5px 10px;
}


#titulo-cronograma{
  color: #555;
  font-size: 30px;
}

#subtitulo-cronograma{
  color: #777;
  font-size: 20px;
}

div.izquierda{
    text-align: left;
}