/*!
 * Modificaciones al tema: Start Bootstrap - Creative v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/creative)
 */

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }

  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #f05f40; }

  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529; }

    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #F05F40; }

    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: #F05F40 !important;
      background-color: transparent; }

      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
        background-color: transparent; }


  @media (min-width: 992px) {
    #mainNav {
      border-color: 1px solid rgba(33, 37, 41, 0.1) ;
      background-color: #fff; }

      #mainNav .navbar-brand {
        color: #F05F40; }

        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #F05F40; }

      #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem; }

      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: #212529; }

        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #EF5F40; }

      #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff; }

        #mainNav.navbar-shrink .navbar-brand {
          color: #F05F40; }

          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #f05f40; }

        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #212529; }

          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #F05F40; } }

#color-primario{
  color: #F05F40;
}

a.correo{
  color: #FFFFFF;
}

img.footer{
  position: relative;
  display: block;
  max-width: 80px;
  margin: 0 auto;
  margin-bottom: 30px;
}

section.footer{
  background-color: #212529;
  padding: 30px 10px;

}

p.aclaraciones{
  color: #FFFFFF;
}

h2.margen{
  margin-top: 50px;
}

.sponsor-row{
  display: block;
}

div.panel-btn{
  margin-top: 10px;s
}

.disertante-bio {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-size: 15px;
}

.disertante-box {
  width: 225px;
  height: 225px;
}

.disertante-imagen {
  height: 100%;
}

.disertante-foto img {
  width: 100%;
  border-radius: 50%;
}

.organizador-bio {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-size: 15px;
}

.organizador-box {
  width: 225px;
  height: 225px;
}

.organizador-imagen {
  height: 100%;
}

.organizador-foto img {
  width: 100%;
  border-radius: 50%;
}

.btn-primary:not([disabled]):not(.disabled).active {
  background-color: #f05f40;
  border-color: #f05f40;
  box-shadow: 0 0 0 .2rem rgba(240,95,64,.5);
}

.logo-twitter {
  color: #f05f40;
}

.header-lista-charlas {
    width: 100%;
}
