{% extends 'eventos/base.html' %}
{% load tz %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="mx-auto disertante-foto">
                    <img src="{{ MEDIA_URL }}{{ Disertante.foto_perfil }}" alt="{{ Disertante.alias }}"></img>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row logo-twitter">
                    <div class="mx-auto">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row disertante-twitter">
                    <div class="mx-auto">
                        <span><a href="https://twitter.com/{{ Disertante.twitter }}" target="__blank">@{{ Disertante.twitter }}</a></span>
                    </div>
                </div>
                <div class="row disertante-alias">
                    <div class="mx-auto">
                        <h3 id="color-primario" class="section-heading">{{ Disertante.alias }}</h3>
                    </div>
                </div>
                <div class="row disertante-ocupacion">
                    <div class="mx-auto">
                        <span>{{Disertante.ocupacion}}</span>
                    </div>
                </div>
                <div class="row disertante-bio">
                    <div class="mx-auto text-center">
                        <span>{{ Disertante.bio }}</span>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="bg-primary" id="charlas">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Charlas</h2>
                <hr class="light my-4">
                 <!--p class="text-faded mb-4"> Conoce todo el detalle de las charlas que se presentan durante el evento</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="{% url 'cronograma' %}">Cronograma</a-->
            </div>
        </div>

        {% for actividad in actividades %}
            <div class="row text-white" style="padding-bottom: 40px;">
                <h4 style="width: 100%">{{actividad.titulo}} <small class="text-muted" style="color: #ddd !important">({{actividad.nivel}})</small></h4>
                <p>{{actividad.fecha | localtime | date:"l d F, P"}}</p>
                <p class="font-italic" style="width: 100%">{{actividad.descripcion}}</p>
                {% if actividad.slides %}
                    <p>Recursos: <a href="{{actividad.slides}}" target="__blank" style="color: white;">Slides</a></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}
