{% extends 'eventos/base.html' %}

{% block content %}


  <section id="section">
      <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h3 id="color-primario" class="section-heading">INGRESAR</h3>
              <hr class="my-4">
            </div>
          </div> 


          <div class="row">
            <div class="col-12 text-center">

                
                  {% if form.errors %}
                    <p style="color: red">Tu usuario o contraseña es incorrecto, vuelva a intentarlo</p>
                  {% endif %}
                  <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% for field in form %}
                      <p>
                        {{ field.label_tag }}<br>
                        {{ field }}<br>
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        {% if field.help_text %}
                          <p><small style="color: grey">{{ field.help_text }}</small></p>
                        {% endif %}
                      </p>
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger"> Ingresar </button>
                    <a href="{% url 'registrar' %}"> Registrarse </a>
                  </form>
            </div>
            
          </div>

        </div>
  </section>



{% endblock %}


