{% extends 'eventos/base.html' %}


{% block content %}

  <section id="section">
      <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h3 id="color-primario" class="section-heading">¿Queres Ayudar a Organizar?</h3>
              <hr class="my-4">
              <p> Completa tus datos para ser parte de la organización del evento </p>
            </div>
          </div>


          <div class="row">


            <div class="col-4 text-center">
            </div>


            <div class="col-4">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    {% for field in form %}
                      <p >
                         {{ field.label_tag }} <br>
                        {{ field }}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </p>
                    {% endfor %}
                <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger"> Enviar </button>

              </form>
            </div>

            <div class="col-4 text-center">
            </div>

          </div>


        </div>
  </section>

{% endblock content %}
