{% extends 'eventos/base.html' %}


{% block content %}

  <section id="section">
      <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h3 id="color-primario" class="section-heading">Cambiar Contraseña</h3>
              <hr class="my-4">
            </div>
          </div> 


          <div class="row">
            <div class="col-12 text-center">
            {% if user.is_authenticated %}
              <form method="post">
                {% csrf_token %}
                    {% for field in form %}
                      <p >
                         {{ field.label_tag }} <br>
                        {{ field }}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </p>
                    {% endfor %}
                <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger"> Guardar </button>
              </form>
            {% else %}
              <p> No hay usuario registrado</p>
              <br><a href="{% url 'ingresar' %}"> Ingresar</a>

            {% endif %}
            </div>
            
          </div>

        </div>
  </section>

{% endblock content %}