{% extends 'eventos/base.html' %}


{% block content %}

  <section id="section">
      <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h3 id="color-primario" class="section-heading">REGISTRARSE COMO USUARIO</h3>
              <hr class="my-4">
            </div>
          </div> 

        {% if Evento.inscripcion_habilitada %}  

          <div class="row">
            <div class="col-12 text-center">

              <form method="post">
                {% csrf_token %}
                    {% for field in form %}
                      <p >
                         {{ field.label_tag }} <br>
                        {{ field }}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </p>
                    {% endfor %}
                <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger"> Registrarse </button>
                <br><a href="{% url 'ingresar' %}"> ¿Ya tienes usuario?</a>
              </form>
            </div>
            
          </div>
        {% else %}


                    <div class="row">
            <div class="col-12 text-center">

              <p> La inscripción no esta habilitada</p>
            </div>
            
          </div>


        {% endif %}

        </div>
  </section>

{% endblock content %}